@use "../abstracts" as *;

html {
  font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%

  @include respond(tab-land) {
    font-size: 56.25%; //1rem = 9px , 9/16 = 56.25%
  }

  @include respond(tab-port) {
    font-size: 50%; // 1rem = 8px, 8/16 = 50%
  }

  @include respond(big-desktop) {
    font-size: 80%; // 1rem = 12px , 12/15 = 80%
  }
}

body {
  font-family: var(--font-family);
  font-size: var(--fs-default);

  &.dark {
    --clr-bg: var(--clr-bg-dark);
    --clr-top-bg-pattern: var(--clr-top-bg-pattern-dark);
    --clr-card-bg: var(--clr-card-bg-dark);
    --clr-text-gray: var(--clr-text-gray-dark);
    --clr-text: var(--clr-text-dark);
    --clr-toggle: var(--clr-toggle-dark);
  }
  &.light {
    --clr-bg: var(--clr-bg-light);
    --clr-top-bg-pattern: var(--clr-top-bg-pattern-light);
    --clr-card-bg: var(--clr-card-bg-light);
    --clr-text-gray: var(--clr-text-gray-light);
    --clr-text: var(--clr-text-light);
    --clr-toggle: var(--clr-toggle-light);
  }
}
