@use "../abstracts/" as *;
.header {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  padding-top: 3.6rem;
  margin-bottom: 4.6rem;
  .heading-xs {
    color: $clr-text-gray-dark;
  }
}
